
/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0px;
    min-height: 695px;
    background-color: var(--dark-bg);
    background-image: url("./../../img/header_bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    color: var(--header-text);
  }
  
  .header__wrapper {
    padding: 0px 15px;
    max-width: 660px;
  }
  
  .header__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    line-height: 1.4;
  }
  
  .header__title strong {
    font-size: 60px;
    font-weight: 700;
  }
  
  .header__title em {
    font-style: normal;
    color: var(--accent);
    font-weight: 600;
  }
  
  .header__text {
    font-size: 18px;
    line-height: 1.333;
    margin-bottom: 40px;
  }
  
  .header__text p + p {
    margin-top: 0.5em;
  }
  